@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
}

footer {
  font-size: small;
  font-style: italic;
  align-items: flex-start;
}

.navbar-dark .navbar-brand {
  font-family: "Oregano", cursive !important;
  color: whitesmoke;
  font-weight: 900;
  font-size: 2em;
}

.cart-items {
  height: 300px;
  overflow: scroll;
}

.grey-box {
  float: left;
  margin: 2px;
  width: 200px;
  height: 200px;
}

#cart-thumb img {
  height: 100px;
}

.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#html-btn, #css-btn, #js-btn {
  color: rgb(255, 255, 255);
  background-color: #6c757d;
  border-color: #495057;
  font-family: "Oregano", cursive !important;
}

.entrybtn {
  color: rgb(255, 255, 255);
  background-color: #6c757d;
  border-color: #495057;
  font-family: "Oregano", cursive !important;
}

.delbtn {
  color:rgb(255, 255, 255);
  background-color: #6c757d;
  border-color: #495057;
  font-family: "Oregano", cursive !important;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  #filter-button {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }


  #form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: white;

    #formModal {
      color: black;
    }
  }

  #store {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;

    .card {
      width: 500px;
      height: 375px;
      margin: 5px;
      background-color: rgb(236, 234, 234);

      .sale-badge {
        font-size: 1em;
        background-color: blue;
      }
      .favorite-badge {
        font-size: 1em;
        background-color: gold;
      }
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

#view {
  width: 90%;
  margin: auto;

  .details {
    min-width: 50%;
    max-width: 60%;
  }

  .description {
    white-space: pre-wrap;
  }
}
